[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
webdriver-manager = "*"
beautifulsoup4 = "*"
lxml = "*"
html5lib = "*"
python-dotenv = "*"
pandas = "*"
schedule = "*"

[dev-packages]

[requires]
python_version = "3.9"
